/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    height: 20px; 
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 10px; 
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 8px; 
  }
  
  .navbar-cart {
    font-size:6px;
  }
  
  .navbar-cart a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-cart a svg {
    font-size: 0.8rem; 
    margin-right: 5px;
  }
  





  
